{% extends 'blog/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}

<h1>About</h1>
<p>First blog on Python</p>
<p>&copy; Jenia Trofimenko </p>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi corporis debitis dolor ducimus illum nesciunt odit placeat sapiente, tempore? Delectus earum error illum laudantium nihil numquam, similique tempore veritatis.</span><span>Deserunt dolorum esse hic incidunt magnam molestias numquam omnis repudiandae sunt. Consequuntur cum distinctio dolores ducimus facilis fuga harum id nam neque nesciunt porro, possimus quas saepe, sed tenetur vitae.</span><span>Accusamus ad alias aliquid, aspernatur, commodi culpa cupiditate deleniti ducimus ex illum iure magni nemo nesciunt quam unde ut voluptatum? Consequatur explicabo facere modi nihil recusandae? Esse maxime perspiciatis quia?</span><span>Ad adipisci amet cupiditate, deserunt dicta enim ipsam iste laudantium, mollitia nam necessitatibus neque quae rerum tenetur, totam ullam ut! Architecto dolorem doloribus fugiat incidunt minima, natus odio odit porro?</span>
</p>
{% endblock %}